<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            color: white;
            font-family: monospace;
            text-align: center;
            background-image: url('/images/404.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        h1 {
            font-size: 50px;
            margin-top: 15%;
        }

        h2 {
            font-size: 30px;
            margin-top: 2%;
        }
        
        /* Add styles for smaller screens */
        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 30px;
                margin-top: 10%;
            }
            h2 {
                font-size: 20px;
                margin-top: 5%;
            }
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="FBLA Project Submission for 2023.">
    <meta name="og:title" content="404 Not Found">
    <meta name="og:description" content="FBLA Project Submission for 2023.">
    <meta name="og:image" content="/images/bg_not_found.png">
    <meta name="theme-color" content="#eb45fa">
    <meta property="og:image:alt" content="Image Not Found.">
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="540" />
    <meta property="og:image:height" content="360" />
    <meta property="twitter:card" content="summary_large_image" />
</head>

<body>
    <h1 id="1"></h1>
    <h2 id="2"></h2>
</body>
<script>

    function type(text, id) {
        let i = 0;
        if (id == 2) {
            blink();
        }
        let interval = setInterval(() => {
            if (i < text.length) {
                document.getElementById(id).innerHTML = document.getElementById(id).innerHTML.replace("_", "");
                document.getElementById(id).innerHTML += text.charAt(i) + "_";
                i++;
            } else {
                document.getElementById(id).innerHTML = document.getElementById(id).innerHTML.replace("_", "");
                clearInterval(interval);
            }
        }, 45);
    }

    function blink() {
        setInterval(() => {
            document.getElementById("2").innerHTML += "_";
            setTimeout(() => {
                document.getElementById("2").innerHTML = document.getElementById("2").innerHTML.replace("_", "");
            }, 500);
        }, 1000);
    }


    setTimeout(() => {
        type("The site you are looking for does not exist.", "2")
    }, 2000);

    type("404 Not Found", "1");
</script>

</html>